@model IEnumerable<CSD412webProject.Models.Movie>

@{
    ViewData["Title"] = "Search Results";
}

<h1>MovieSearchResults</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table bg-dark text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PosterPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenreIds)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    
        <tr>
            <div >
                <td class="media">
                    @{
                        string path = "https://image.tmdb.org/t/p/w185/";
                        path = path + item.PosterPath;
                    }
                    <p><img class="mr-3" src=@path alt=" @item.Title" /></p>
                </td>
                <td>
                    <h5>
                        @Html.DisplayFor(modelItem => item.Title)
                    </h5>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @{
                        var genres = item.GenreIds;
                        foreach (var genre in genres)
                        {
                            <p>@genre</p>
                        }
                    }
                </td>
                <td>
                    <div>
                        <i class="fas fa-chevron-right fa-3x mb-2"></i>
                        @Html.ActionLink("Details", "MovieInfo", new
                   {
                       id = item.Id,
                       MovieListId = item.MovieListId,
                       Title = item.Title,
                       ReleaseYear = item.ReleaseYear,
                       adult = item.Adult,
                       description = item.Description,
                       PosterPath = item.PosterPath,
                       BackDropPath = item.BackDropPath,
                       Rating = item.Rating,
                       VideoLink = item.VideoLink,
                       GenreIds = item.GenreIds,
                       ActorsIds = item.ActorsIds,
                       Director = item.Director
                   })

                    </div>
                </td>
            </div>
        </tr>
}
    </tbody>
</table>
