@model IEnumerable<CSD412webProject.Models.Movie>

@{
    ViewData["Title"] = "Search Results";
}

<h1>MovieSearchResults</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table bg-dark text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PosterPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenreIds)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @{
                    string path = "https://image.tmdb.org/t/p/w185/";
                    path = path + item.PosterPath;
                }
                <p><img src=@path alt=" @item.Title" /></p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @{
                    var genres = item.GenreIds;
                    foreach (var genre in genres)
                    {
                        <p>@genre</p>
                    }
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
